{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <div class="w-100 small">
            il y a <b>{{ annonceQuery.count }} annonces</b> dans vos critères
        </div>

        <div class="row">
            {% if annonceQuery.results|length <= 0 %}
                <div class="col-12 mb-2 text-center small p-2">
                    Aucune annonce trouvée 😔
                </div>
            {% else %}
                {% for annonce in annonceQuery.results %}
                    <div class="col-12 mb-2">
                        <a href="{{ path('ads.display.simple', {'id': annonce.id}) }}" class="card">
                            <div class="card-body">
                                <div class="d-flex align-item-center justify-content-between">
                                    <div class="left">
                                        {{ annonce.title }}
                                    </div>
                                    <div class="right">
                                        {{ annonce.price }}€
                                    </div>
                                </div>
                                <div class="w-100 small text-muted">
                                    {{ annonce.description|raw }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if annonceQuery.totalPages > 1 %}
            <div class="w-100 d-flex justify-content-center align-item-center">
                {% for i in range(1, annonceQuery.totalPages) %}
                    {% if i <= 1 %}
                        <a href="{{ path('app.dash') }}?{{ queryParams }}"
                           class="btn btn-sm btn-outline-secondary {% if i == actualPage %}active{% endif %} me-2">1</a>
                    {% else %}
                        <a href="{{ path('app.dash.page', {'page': i}) }}?{{ queryParams }}"
                           class="btn btn-sm btn-outline-secondary {% if i == actualPage %}active{% endif %} me-2">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% include 'inc/footer.html.twig' %}
{% endblock %}


{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}